@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

	h1 {
		margin-bottom: 20px;
		font-size: 36px;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		input {
			margin-bottom: 10px;
			padding: 10px;
			border-radius: 5px;
			border: 1px solid #ccc;
			font-size: 16px;
		}

		button {
			padding: 10px 20px;
			border-radius: 5px;
			margin-top: 15px;
			border: none;
			background-color: #007bff;
			transition: all 0.3s ease;
			color: #fff;
			font-size: 16px;
			cursor: pointer;

			&:hover {
				background-color: #0069d9;
			}
		}
	}
}

.list {
	min-height: 100vh;

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 20px;
		background-color: #007bff;
		color: #fff;

		h1 {
			font-size: 36px;
			font-weight: bold;
		}

		h2 {
			font-size: 24px;
		}
	}

	.main {
		display: flex;
		width: 100%;
		min-height: 100vh;
		align-items: top;

		h2 {
			margin-bottom: 10px;
			font-size: 24px;
			font-weight: bold;
		}
	}

	.aside {
		width: 20%;
		padding: 20px;
		background-color: #f8f9fa;
	}

	.content {
		width: 80%;
		padding: 20px;

		ul {
			list-style: circle;
			padding-left: 20px;

			li {
				margin-bottom: 10px;
				font-size: 16px;
				font-weight: bold;
			}
		}

		input {
			padding: 3px 8px;
			border-radius: 5px;
			margin-right: 5px;
			border-bottom: #0069d9 solid 1px;
			border-radius: 0%;
		}

		button {
			padding: 3px 10px;
			border-radius: 20px;
			border: none;
			background-color: #007bff;
			transition: all 0.3s ease;
			color: #fff;
			font-size: 16px;
			cursor: pointer;

			&:hover {
				background-color: #0069d9;
			}
		}
	}
}	